#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    // address: "/tmp/mpd_socket", // uncomment if using unix socket
    password: None,
    theme: "nemui",
    cache_dir: None,
    lyrics_dir: "~/Music",
    on_song_change: None,
    volume_step: 5,
    max_fps: 60,
    scrolloff: 3,
    wrap_navigation: false,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: true,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    album_art: (
        method: Auto,
        max_size_px: (width: 0, height: 0),
        vertical_align: Top,
        horizontal_align: Center,
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    ),
    keybinds: (
        global: {
            "q":        Quit,
            "~":        ShowHelp,
            "O":        ShowOutputs,
            "I":        ShowCurrentSongInfo,
            ":":        CommandMode,
            ".":        VolumeUp,
            ",":        VolumeDown,
            "p":        TogglePause,
            "s":        Stop,
            ">":        NextTrack,
            "<":        PreviousTrack,
            "<Right>":  NextTab,
            "<Tab>":    NextTab,
            "<Left>":   PreviousTab,
            "<S-Tab>":  PreviousTab,
            "1":        SwitchToTab("Playing"),
            "2":        SwitchToTab("Lists"),
            "3":        SwitchToTab("Artists"),
            "4":        SwitchToTab("Albums"),
            "5":        SwitchToTab("Lyrics"),
            "6":        SwitchToTab("Search"),
            "z":        ToggleRepeat,
            "x":        ToggleRandom,
            "c":        ToggleSingle,
            "f":        SeekForward,
            "b":        SeekBack,
        },
        navigation: {
            "<S-Up>":    PaneUp,
            "<S-Down>":  PaneDown,
            "<S-Left>":  PaneLeft,
            "<S-Right>": PaneRight,
            "<C-u>":     UpHalf,
            "<C-d>":     DownHalf,
            "N":         PreviousResult,
            "n":         NextResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "g":         Top,
            "G":         Bottom,
            "<Space>":   Select,
            "h":         Left,
            "l":         Right,
            "j":         Down,
            "k":         Up,
            "J":         MoveDown,
            "K":         MoveUp,
            "D":         Delete,
            "B":         ShowInfo,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
        },
        queue: {
            "D":     DeleteAll,
            "<CR>":  Play,
            "<C-s>": Save,
            "a":     AddToPlaylist,
            "X":     Shuffle,
            "d":     Delete,
        },
    ),
    tabs: [
        (
            name: "Playing",
            border_type: None,
            pane: Split(
                direction: Vertical,
                panes: [
                    (
                        size: "100%",
                        borders: "ALL",
                        border_style: (fg: "#d2bcfd"),
                        pane: Split(
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "70%",
                                    pane: Pane(Queue),
                                ),
                                (
                                    size: "30%",
                                    borders: "LEFT",
                                    border_style: (fg: "#d2bcfd"),
                                    pane: Split(
                                        direction: Vertical,
                                        panes: [
                                            (
                                                size: "75%",
                                                pane: Pane(AlbumArt),
                                            ),
                                            (
                                                size: "25%",
                                                borders: "TOP",
                                                border_style: (fg: "#d2bcfd"),
                                                pane: Pane(Lyrics),
                                            ),
                                        ],
                                    ),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Lists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Artists",
            border_type: None,
            pane: Pane(Artists),
        ),
        (
            name: "Albums",
            border_type: None,
            pane: Pane(Albums),
        ),
        (
            name: "Lyrics",
            border_type: None,
            pane: Split(
                direction: Vertical,
                panes: [
                    (
                        size: "100%",
                        borders: "ALL",
                        border_style: (fg: "#d2bcfd"),
                        pane: Split(
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "40%",
                                    pane: Pane(AlbumArt),
                                ),
                                (
                                    size: "60%",
                                    borders: "LEFT",
                                    border_style: (fg: "#d2bcfd"),
                                    pane: Pane(Lyrics),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
    ],
)
